.about-us .content {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 5rem;
}

@media (min-width: 768px) {
  .about-us .content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}